@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    }

footer{
    display:grid;
    justify-content: center;
    align-content:center;
    grid-template: 'titulo titulo titulo titulo'
    'a b c d';
    padding-left:2vw;
    column-gap: 12vw;
    row-gap:2vh;
    background-color: steelblue;
    height:25vh;
}

.red{
    grid-area:titulo;
    color:white;
    text-align: center;
}
#linkedin,#mail,#github{
    height:4vw;
    padding-right:0.5vw;
}
  
#navbar{
    background-color: black;
    height:8vh;
    padding-left:1vw;
    display:grid;
    grid-template-columns:auto auto auto auto;
    column-gap: 1vw;
    grid-template-rows: 8vh;
    justify-content:left;
    align-content:center;
}

.vinculo{
    display:block;
    color:white;
    padding-left:0.5vw;
    padding-right: 0.5vw;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: larger;
}

.vinculo:hover{
    background-color:steelblue;
    color:white;
}

.icono{
    height:4vw;
    padding-right:0.5vw;
}