.containerProd{
    display:grid;
    justify-content: center;
    grid-template-columns: 80vw;
    row-gap: 10vh;
}

@media only screen and (min-width: 768px){
.containerProd{
    grid-template-columns: 20vw 20vw 20vw;
    column-gap: 6vw;
}
}

#muestraProd{
    padding-top:8vh;
    background-image: linear-gradient(
        to bottom,
        rgba(150, 150, 231, 0.5),
        rgba(15, 15, 221, 0.3)
      );
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    padding-bottom:10vh;
}

.titulo{
    margin-bottom:6vh;
    padding-top:6vh;
}

.img-producto{
    border-radius: 0.8vh 0.8vh 0 0;
    grid-area: a;
    width: 100%;
    height:160px;
}

.text-producto{
    padding:1vh 0.5vw 0 0.5vw;
    grid-area: b;
}

.compra{
    grid-area:c;
    padding-left:0.5vw;
}

textarea{
    resize:none;
}

#consultas{
    display:grid;
    justify-content: center;
    align-content:center;
    grid-template-columns: 60vw;
    column-gap: 5vw;
    row-gap: 1vh;
}

#submit{
    width:20%;
}

#prodConsulta{
    padding-top:4vh;
    background-color: teal;
}

.producto{
    display:grid;
    grid-template-rows: auto auto auto;
    background:white;
    border-radius:0.8vh;
    border: 1px solid rgb(41, 9, 9);
    grid-template-areas:"a a a"
    "b b b"
    "c d d";
    padding-bottom:1vh;
    height:fit-content;
}